{% extends 'layouts/main.nunjuck.html' %}

{% block title %}
    Edit Event
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Edit Event</span>
                    <form id="event_form" action="/events/edit/{{ event.id }}" method="post">
                        <input type="hidden" name="id" id="id" value="{{ event.id }}">
                        {% include 'events/form.nunjuck.html' %}
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Edit Event
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light" id="delete_btn" data-event_id="{{ event.id }}">Cancel Event
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <script type="text/javascript" src="/js/events/form.js"></script>
{% endblock %}
