<div class="row">
    <div class="input-field col s12">
        <input id="title" name="title" type="text" value="{{ old.title or event.title }}">
        <label for="description">Title</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <input id="date" name="date" type="text" class="datepicker" value="{{ old.date or event.date }}">
        <label for="date">Date</label>
    </div>
    <div class="input-field col s6">
        <input id="time" name="time" type="text" class="timepicker" value="{{ old.time or event.time }}">
        <label for="time">Time</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        <select name="type" id="type" name="type">
            {% for event_type in event_types %}
                <option value="{{ event_type }}"{% if (((old.type === event_type)) or(event.type === event_type)) %} selected {% endif %}>{{ event_type | capitalize }}</option>
            {% endfor %}
        </select>
        <label for="type">Event Type</label>
    </div>
    <div class="input-field col s12 m6">
        <input id="location" name="location" type="text" value="{{ old.location or event.location }}">
        <label for="location">Location</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" name="description" type="text">{{ old.description or event.description }}</textarea>
        <label for="description">Description</label>
    </div>
</div>
