<nav class="row">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="brand-logo">Cardinals 2018</a>
            <a href="#" data-target="mobile_cardinals_nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/posts"><i class="far fa-file-alt"></i> Posts</a></li>
                <li><a href="/players"><i class="far fa-user"></i> Roster</a></li>
                <li><a href="/events"><i class="far fa-calendar-alt"></i> Schedule</a></li>
                {% if user_type %}
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                {% else %}
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile_cardinals_nav">
    <li><a href="/posts">Posts</a></li>
    <li><a href="/players">Roster</a></li>
    <li><a href="/events">Schedule</a></li>
    {% if user_type %}
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/login">Login</a></li>
    {% endif %}
</ul>