<nav class="row">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="brand-logo">Auth with Passport</a>
            <a href="#" data-target="mobile_cardinals_nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users/create"><i class="far fa-user"></i> Create a new user</a></li>
                <li><a href="/test/admin"> Admin Test</a></li>
                <li><a href="/test/user"> User Test</a></li>
                {% if user_type %}
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                {% else %}
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile_cardinals_nav">
    <li><a href="/users/create">Create a new user</a></li>
    <li><a href="/test/admin">Admin Test</a></li>
    <li><a href="/test/user">User Test</a></li>
    {% if user_type %}
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/login">Login</a></li>
    {% endif %}
</ul>