{% extends 'layouts/main.nunjuck.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 m8">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">

                            <div class="card-title"><h4>Welcome to the Admin Page</h4></div>
                            <div class="lead_content">
                                Thanks for stopping by.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}