/* Code from http://mystrd.at/modern-clean-css-sticky-footer/ for footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px; /* bottom = footer height */
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

footer a, footer a:hover {
    color:white;
}

#footer_div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: 0;
}

.thumbnail {
    margin-right: 5px;
    margin-left: 5px;
}

.dismiss_button:hover {
    cursor: pointer;
}

.dismiss_target .card-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.no_margin_top {
    margin-top: 0;
}

.event_title_dark a, .event_title_dark a:hover {
    color: black;
}

.event_title_dark a:hover {
    text-decoration: underline;
}

.event_title_white a, .event_title_white a:hover {
    color: white;
}

.event_title_white a:hover {
    text-decoration: underline;
}

.collection-item p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5 !important;
}

.small_text {
    font-size: 12px;
}

.smaller_text {
    font-size: 10px !important;
    font-weight: lighter;
}

.lead_content p {
    margin-bottom: 10px !important;
}