<div class="row">
    <div class="input-field col s12">
        <input id="username" name="username" type="text" value="{{ old.username or user.username }}">
        <label for="username">Username</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input id="password" name="password" type="password">
        <label for="password">Password</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input id="password_confirm" name="password_confirm" type="password">
        <label for="password_confirm">Confirm Password</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <select name="type" id="type" name="type">
            {% for user_type in user_types %}
                <option value="{{ user_type }}"{% if (((old.type === user_type)) or (user.type === user_type)) %} selected {% endif %}>{{ user_type | capitalize }}</option>
            {% endfor %}
        </select>
        <label for="type">User Type</label>
    </div>
</div>

