{% extends 'layouts/main.nunjuck.html' %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% if post.lead_image %}<img src="/images/posts/{{ post.lead_image }}" width="100" class="thumbnail">{% endif %}Edit Post</span>
                    <form id="post_form" action="/posts/edit/{{ post.id }}" method="post" enctype="multipart/form-data">
                        {% include 'posts/form.nunjuck.html' %}
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Edit Post
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light" id="delete_btn" data-post_id="{{ post.id }}">Delete Post
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <script type="text/javascript" src="/libraries/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/posts/form.js"></script>
{% endblock %}
